* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.red_hover {
	color: black;
}

.red_hover:hover {
	color: red;
}

canvas {
	background: rgba(238, 238, 238, 0.9);
	border: 6px solid rgba(52, 235, 183);
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}